{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container-fluid" style=" margin-top: -21px;">
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="order">
            <div class="jumbotron" >
                            <h3>Order Architectural Designs</h3>


        </div>
    </div>
    </div>
</div>
{{ form.media }}

<style>
    body{
    background:url("../../../static/img/bg1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;

    }
    h3{
    color: black;
    text-align: center;
    }
    #order{
    height: 10px;
    opacity: 0.7;
    }
</style>
{% endblock %}

