{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{% load staticfiles %}

<style>
.blue-button{
    width: 100px;
    -webkit-transition: background-color 1s , color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s , color 1s;
    min-height: 20px;
    background-color: #002E5B;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    font-weight: lighter;
    margin: 0px 20px 15px 20px;
    padding: 5px 0px;
    display: inline-block;
}
.blue-button:hover{
    background-color: #dadada;
    color: #002E5B;
}</style>


<div class="container-fluid">
            {% for design in designs %}

    <div class="row">

        <br><br><br><br><br><br>

        <h4 style="text-align: center;">Design Specifications</h4>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

            <h5><b style="color: green;">Posted By:</b> {{design.profile}}</h5>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="background-color:lightblue;">

            <h5><b style="color: green;">Description:</b> {{design.description}}</h5>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

            <h5><b style="color: green;">Submitted:</b> {{design.pub_date|timesince}} ago</h5>

        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="background-color:lightblue;">
            <h5><b style="color: green;">Total Floor Area:</b> {{design.total_size}}</h5>

        </div>

    </div>
    <div class="row" style="background-color:#F7F7F7" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        <br><br>
                    <!--<h4 style="text-align: center;">Design Files</h4>-->



        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well" style="background-color:lightblue;">

        {% if design.file_1.url %}
            <p>File 1: <a href="{{ design.file_1.url }}">Download</a></p>
        {% endif %}
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well">

        {% if design.file_2.url %}
            <p>File 2: <a href="{{ design.file_2.url }}">Download</a></p>
        {% endif %}
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well" style="background-color:lightblue;">

        {% if design.file_3.url %}
            <p>File 3: <a href="{{ design.file_3.url }}">Download</a></p>
        {% endif %}
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well">
        {% if design.file_4.url %}
            <p>File 4: <a href="{{ design.file_4.url }}">Download</a></p>
        {% endif %}
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well" style="background-color:lightblue;">
        {% if design.file_5.url %}
            <p>File 5: <a href="{{ design.file_5.url }}">Download</a></p>
        {% endif %}
        </div>



        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well" style="background-color:lightblue;">

            <p>Total Cost: $<a href="{{ paypal.com }}">{{ design.cost }}</a></p>

        </div>
        <!--<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well" style="background-color:lightblue;">-->
        <!--{% if design.file_5.url %}-->
        <!--<p>File uploaded at: <a href="{{ file_5.url }}">{{ design.file_5 }}</a></p>-->
        <!--{% endif %}-->
        <!--</div>-->


    </div>



</div>
{% endfor %}




{%endblock%}




