{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container-fluid" style="background-color: #F7F7F7; margin-top: -20px;">
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h3>Account</h3>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="jumbotron" style="background-color: #F7F7F7;">
            <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-success" value="Update">
            </form>
            </div>
        </div>
    </div>
</div>
<style>
    body{
    background:url("../static/images/bg1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
    opacity:0.7;
    width:100%;


    }
    h2{
    color: white;
    text-align: center;
    }

</style>
{% endblock %}
