{% extends 'base.html' %}

{% block content %}
{{ form.media }}
<div class="container">
    <div class="row" id="profile">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    {% if profile_details.photo %}
                    <h3 style="text-align:left; color: white;">My Profile Photo</h3>
                    <img src="{{profile_details.photo.url}}" alt="photo" width='200' height='200'>
                    {% else %}
                    <img src="/static/images/dp.jpg" alt="avatar" width='200' height='200' style="align: center;">
                    {% endif %}


                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                    <ul class="list-inline">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
                            <h4 style="color: black;">
                                <span class="username"><h3 style="color: white;">Username:</h3> <p style="color: white;">{{ profile.username }}</p></span></h4>
                            <span class="username"><h3 style="color: white;">Email:</h3> <p style="color: white;">{{ profile.email }}</p></span></h4>

                                            </div>
                                                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">

                        <h4><h3 style="color: white;">Joined On:</h3> <p style="color: white;">{{ request.user.date_joined }}</p></h4>



                            <h4><h3 style="color: white;">Last Login:</h3> <p style="color: white;">{{ request.user.last_login }}</p></h4>

                        {% if profile.username == user.username %}

                        <li class="list-inline-item">
                            <a data-toggle="modal" data-target="#settings"><i class="fa fa-cog fa-2x"></i></a>
                        </li>
                        <img src="{{profile.image.url}}"  width='500' height='500' alt="">
                        {% else %}

                        {% endif %}


                    </ul>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span class="font-weight-bold"><h3 style="color: white;">Orders Made:</h3> <p style="color: white;">You have ordered </p> <h3 style="color: white;">{{designs|length}}</h3> </h4></span> <p style="color: white;">Designs</p>
                        </li>
                    </ul>
                </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row" id="order">
        <h3 style="color: green; text-align:center;">Design Orders</h3>

        {% for design in designs %}
<br>

<div class="container-fluid">
    <div class="well" style="background-color: lightgrey; text-align:center; color:black;">


        <h5><b style="color: black; align: right;">Client Name:<br></b> <i>{{design.profile}}</i></h5>

        <h5><b style="color: black; align: right;">Order Number: <br></b> <i>#{{design.id}}</i></h5>

    </div>
    <div class="row" id="main-row">


                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                        <div class="well" style="background-color: #F7F7F7; text-align:center;">



            <p><b style="color: green;">Project Title:<br></b> {{design.title}}</p>




                                        </div>


                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">

<div class="well" style="background-color: #F7F7F7; text-align:center;">


            <p><b style="color: green;">House Type:<br></b> {{design.house_type}}</p>



                                        </div>


                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">


<div class="well" style="background-color: #F7F7F7; text-align:center;">


            <p><b style="color: green;">Land Location:<br></b> {{design.land_location}}</p>



                                        </div>

                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">


<div class="well" style="background-color: #F7F7F7; text-align:center;">


            <p><b style="color: green;">Date of Completion:<br></b> {{design.date_of_completion}}</p>



                                        </div>

                </div>
    </div>

    <div class="row" id="row3">



                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <div class="well" style="background-color: #F7F7F7; text-align:center;">

            <p><b style="color: green;">Floor Area:<br></b> {{design.floor_area}}</p>

</div>

                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <div class="well" style="background-color: #F7F7F7; text-align:center;">



            <p><b style="color: green;">Number of Bedrooms:<br></b> {{design.number_of_bedrooms}}</p>
                                </div>


                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                <div class="well" style="background-color: #F7F7F7; text-align:center;">



            <p><b style="color: green;">Number of Washrooms:<br></b> {{design.number_of_washrooms}}</p>
                                </div>


                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                <div class="well" style="background-color: #F7F7F7; text-align:center;">



            <p><b style="color: green;">Washroom Size:<br></b> {{design.washroom_size}}</p>
                                </div>


                </div>
    </div>

    <div class="row" id="row1">


                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                        <div class="well" style="background-color: #F7F7F7; text-align:center;">



            <p><b style="color: green;">Living Room Size:<br></b> {{design.living_room_size}}</p>
                                        </div>


                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                <div class="well" style="background-color: #F7F7F7; text-align:center;">



            <p><b style="color: green;">Master Bedroom Size:<br></b> {{design.master_bedroom_size}}</p>
                                </div>


                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                <div class="well" style="background-color: #F7F7F7; text-align:center;">



            <p><b style="color: green;">Other Bedrooms' Size:<br></b> {{design.bedrooms_size}}</p>
                                </div>


                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                <div class="well" style="background-color: #F7F7F7; text-align:center;">


            <p><b style="color: green;">Kitchen Size:<br></b> {{design.kitchen_size}}</p>
                                </div>



                </div>
    </div>

    <div class="row" id="row2">


                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                        <div class="well" style="background-color: #F7F7F7; text-align:center;">



            <p><b style="color: green;">Number of Windows:<br></b> {{design.number_of_windows}}</p>
                                        </div>


                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                <div class="well" style="background-color: #F7F7F7; text-align:center;">



            <p><b style="color: green;">Wall Material:<br></b> {{design.wall_material}}</p>
                                </div>


                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                <div class="well" style="background-color: #F7F7F7; text-align:center;">


            <p><b style="color: green;">Ventilation Details:<br></b> {{design.ventilation_description}}</p>
                                </div>



                </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" class="well" style="background-color:;">
                                <div class="well" style="background-color: #F7F7F7; text-align:center;">


            <p><b style="color: green;">Roofing Details:<br></b> {{design.roofing_description}}</p>
                                </div>



                </div>
    </div>


        <div class="well" style="background-color: lightblue; text-align:center;">

    <h5>Client's Sketches</h5>
        </div>
    <div class="row" id="row5">

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well" style="background-color:;">
                    <div class="well" style="background-color: #F7F7F7; text-align:center;">


        {% if design.file_1 %}
            <p>File 1:<br> <a href="{{ design.file_1.url }}">Download</a></p>
        {% endif %}
                    </div>


                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well" style="background-color:;">
                    <div class="well" style="background-color: #F7F7F7; text-align:center;">


        {% if design.file_2 %}
            <p>File 2:<br> <a href="{{ design.file_2.url }}">Download</a></p>
        {% endif %}
                    </div>

                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well" style="background-color:;">
                    <div class="well" style="background-color: #F7F7F7; text-align:center;">


        {% if design.file_3 %}
            <p>File 3:<br> <a href="{{ design.file_3.url }}">Download</a></p>
        {% endif %}
                    </div>


                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well" style="background-color:;">
                    <div class="well" style="background-color: #F7F7F7; text-align:center;">


        {% if design.file_4 %}
            <p>File 4:<br> <a href="{{ design.file_4.url }}">Download</a></p>
        {% endif %}
                    </div>

                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" class="well" style="background-color:;">
                    <div class="well" style="background-color: #F7F7F7; text-align:center;">


        {% if design.file_5 %}
            <p>File 5:<br> <a href="{{ design.file_5.url }}">Download</a></p>
        {% endif %}
                    </div>


                </div>

    </div>
    <div class="well" style="background-color: #F7F7F7; text-align:center;">
        <h3>Project's Design Cost:<br> $ <h2 style="color:green;">{{ design.cost }}</h2></a></h3>
        <a href="/paypal/" class="btn btn-primary">Checkout</a>



                    <!--<h3>Project's Design Cost:<br> $<a href="www.paypal.com">{{ design.cost }}</a></h3>-->
        </div>

</div>
        <div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" class="well" style="background-color:;">
                    <div class="well" style="background-color: #F7F7F7; text-align:center;">


        {% if design.product %}
                        <h3>Final Design:<br> <a href="{{ design.product.url }}">Download</a></h3>
        {% endif %}
                    </div>


                </div>
</div>
        <!--end of order display-->
{% endfor %}



<style>
    h3{
    color: black;
    text-align: center;
    }
    .well {
    opacity:0.7;
    }
    #profile{
    background:url("../static/images/bg3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
</style>





{% endblock %}

